 body {     
 background-color: lightblue; 
 } 
h1 {    font-family: verdana; 
color: darkblue;     
} 
p {     font-family: verdana;     
font-size: 20px; } 

a {     font-family: verdana;     
font-size: 15px; }

ul {     font-family: verdana;     
font-size: 15px; }